torf
guessit
ffmpeg-python
pymediainfo
tmdbsimple
anitopy
cli-ui
qbittorrent-api
deluge-client
pyrobase
requests
cinemagoer
pyimgbox
nest_asyncio
bencode.py
unidecode
beautifulsoup4
pyoxipng
rich
Jinja2
natsort
